<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/foodwaste?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">root</property>
    <mapping resource="foodwaste/domain/Wsvalue.hbm.xml"/>
    <mapping resource="foodwaste/domain/Institution.hbm.xml"/>
    <mapping resource="foodwaste/domain/Searchstatistics.hbm.xml"/>
    <mapping resource="foodwaste/domain/Priority.hbm.xml"/>
    <mapping resource="foodwaste/domain/Areofinterest.hbm.xml"/>
    <mapping resource="foodwaste/domain/Matrix.hbm.xml"/>
    <mapping resource="foodwaste/domain/Component.hbm.xml"/>
    <mapping resource="foodwaste/domain/Compsubgroup.hbm.xml"/>
    <mapping resource="foodwaste/domain/Methodtype.hbm.xml"/>
    <mapping resource="foodwaste/domain/Institutiontype.hbm.xml"/>
    <mapping resource="foodwaste/domain/Compgroup.hbm.xml"/>
    <mapping resource="foodwaste/domain/Valuetype.hbm.xml"/>
    <mapping resource="foodwaste/domain/Country.hbm.xml"/>
    <mapping resource="foodwaste/domain/User.hbm.xml"/>
    <mapping resource="foodwaste/domain/Methodindicator.hbm.xml"/>
    <mapping resource="foodwaste/domain/Role.hbm.xml"/>
    <mapping resource="foodwaste/domain/Wastestream.hbm.xml"/>
    <mapping resource="foodwaste/domain/Food.hbm.xml"/>
    <mapping resource="foodwaste/domain/Referencetype.hbm.xml"/>
    <mapping resource="foodwaste/domain/Fcdb.hbm.xml"/>
    <mapping resource="foodwaste/domain/Acquisitiontype.hbm.xml"/>
    <mapping resource="foodwaste/domain/Reference.hbm.xml"/>
    <mapping resource="foodwaste/domain/Unit.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
